# .gitignore
__pycache__/
*.pyc
.venv/
*.log
state.json
*config.yaml
.vscode/
.vscode/launch.json
wolnut_state.json
**/.pytest_cache
**/pytest.xml

# Magic packet test
mp-test.py

# Ignore detail coverage report
coverage/
.coverage
webui/node_modules/
webui/dist/

